/* //////////////// */
/*      GENERAL     */
/* //////////////// */

body{
    background-color:white;
    font-family: 'Segoe UI', Tahoma, Verdana, Helvetica, sans-serif;
    font-weight: 200;
    margin: 0;
    max-width: 1500px;
}

h1, h2, p, a{
    color:white;
    text-decoration:none;
}

h1{
    font-weight: 400;
}

p, .link{
    font-size: 20px;
}

/* Divs, colored blocks & rows*/
.divs{
    padding: 5% 5% 8% 5%;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/* //////////////// */
/*     FIRST ROW    */
/* //////////////// */

#aboutRow{
    display: flex;
}

#menuDiv{
    background-color: black;
}

#links{
    margin-top: 20px;
}

.link{
    display: flex;
    justify-content: center;
    padding: 15px 80px;
    margin-top: 20px;
}

.link:hover{
    background-color: lightgrey;
    color: black;
}

#aboutDiv{
    background-color: #607d8b;
}


/* //////////////// */
/*    SECOND ROW    */
/* //////////////// */

#svgCanvasRow{
    display: flex;
}

#svgH1, #canvasH1{
    margin: 0;
}

.tittel{
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
}

#svgDiv, #canvasDiv{
    display: flex;
    flex-direction: column;
}

#svgDiv{
    background-color: darkseagreen;
}

#canvasDiv{
    background-color: #eea78b;
}

.btns{
    margin-top: 30px;
}

input[type=button]{
    border: none;
    border-radius: 3px;
    margin: 3px 5px;
    padding: 8px;
    font-size: inherit;
    color: white;
    font-style: italic;
    font-weight: 400;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 2px 2px rgb(255, 255, 255, 0.7);
}

input[type=button]:hover{
    background-color: rgb(255, 255, 255, 0.4);
}

input[type=button]:active{
    background-color: rgb(255, 255, 255, 0.7);
}

.klikkP {
    margin-top: 30px;;
}

svg, canvas{
    max-height: 350px;
    max-width: 350px;
    min-height: 350px;
    min-width: 350px;
    height: 100%;
    width: 100%;
}

/* Coloring SVG-drawing */
.petal{
    fill: black;
}
.petal.petalC{
    fill:white;
}
#midth{
    fill:black;
}
#midth.midthC{
    fill:white;
}
.petal, #midth{
    stroke: darkseagreen;
}


/* //////////////// */
/*     THIRD ROW    */
/* //////////////// */

#dokRow{
    display: flex;
}

#dokDiv{
    width: 70%;
    background-color:#808080;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 3% 20%;
}

#dokH1{
    border-bottom: 2px solid white;
    padding: 5px 10px;
}

.dokP:last-child{
    padding-bottom: 5%;
}



/* //////////////// */
/*     RESIZING     */
/* //////////////// */

/* width < 900px  -> column */
@media only screen and (max-width: 900px) {
    .rows{
        flex-direction: column;
        padding-right: 9.1%;
    }
    .divs{
        width: 100%;
        padding-bottom: 12%;
    }
}

/* width > 1500px -> whitespace on sides*/
@media only screen and (min-width: 1500px) {
    html{
        display: flex;
        justify-content: center;
    }
}




/* //////////////////////////// */
/*    HIDE/SHOW DOCUMENTATION   */
/* //////////////////////////// */

.dokP{
    display: none;
}